@charset "UTF-8";


*{
    font-family: sans-serif;
    margin: 0%;
    padding: 0; 
}

body{
    background: linear-gradient(270deg, #ff7277, #740c0f, #ff030a, #a35b5d);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
}

.login-page{
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form{
    text-align: center;
    background: white;
    padding: 50px;
    margin: 0 auto 100;
    max-width: 360px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.24);
}

.form img{
    width: 100%;
}

.form input{
    outline: 3;
    font-family: "Roboto", sans-serif;
    background: #F2F2F2;
    border: 0;
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 14px;
    box-sizing: border-box;
}

.form button{
    font-family: "Roboto", sans-serif;
    width: 100%;
    font-size: 14px;
    background: wheat;
    border: 0;
    outline: 0;
    padding: 15px;
    color: black;
    text-transform: uppercase; /* transforma texto em maiusculo*/
    cursor: pointer;
    transition: all 0.3 ease;
}

.mensagem{
    color: #B3B3B3;
    margin: 15px 0 0;
    font-size: 12px;
}

.mensagem a{
    text-decoration: none;
    color: #34BF3b
}

#boton{
    text-decoration: none;
}

#login{
    text-decoration: none;
}